@model List<Online_Job_Portal_MVC.Models.UserListModel>
@{
    ViewData["Title"] = "Contact List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact List</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Message</th>
            <th>Subject</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GetContact.FullName</td>
                <td>@item.GetContact.Email</td>
                <td>@item.GetContact.Message</td>
                <td>@item.GetContact.Subject</td>
                <td>
                    <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <div class="form-group mt-3">
        <a asp-controller="Admin" asp-action="AdminDashboard" class="btn btn-link">BACK</a>
    </div>
</table>
