@model List<Online_Job_Portal_MVC.Models.JobWithUserViewModel>
@{
    ViewData["Title"] = "ViewResume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>ViewResume / Download Resume</h1>



@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>User Full Name</th>
            <th>User Email</th>
            <th>User Mobile Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Job.CompanyName</td>
                <td>@item.Job.Title</td>
                <td>@item.User.Fullname</td>
                <td>@item.User.Email</td>
                <td>@item.User.MobileNumber</td>
                <td>
                    <a href="#" class="btn btn-primary">View Resume</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
       <div class="form-group mt-3">
        <a asp-controller="Admin" asp-action="AdminDashboard" class="btn btn-link">BACK</a>
        </div>
</table>
